* {
    margin: 0 auto;
}

body {
    font-family: 'Lato', sans-serif;
}

.button-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    background: #E55473;
    border: none;
    border-radius: 8px;
}

/* banner part */
.banner {
    display: flex;
    background: #e554731a;

}


.banner-part {
    margin: 120px 20px 60px 120px;
}

.banner-part h2 {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
    width: 640px;
}

.banner-part p {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
    width: 634px;
}



.banner-img img {
    width: 440px;
    height: 600px;
    margin-top: 30px;
    margin-right: 20px;
    vertical-align: middle;
}

/* offer part */
.offer {
    display: flex;
    align-items: center;
    text-align: center;
    background: #e554730d;
}

.offer-part h2 {
    color: #272727;
    font-size: 37px;
    font-weight: 800;
    margin-bottom: 15px;
}

.offer-part h2 span {
    color: #E55473;
}

.offer-part p {
    color: #27272799;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
    width: 500px;
}

.offer-img img {
    margin: 100px 0;
    vertical-align: middle;
}

/* galary Part */

.galary {
    background: #fff;
    margin-bottom: 80px;
}

.galary-content {
    text-align: center;
}

.galary-content h3 {
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.galary-content p {
    width: 594px;
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 25px;
}

.galary {
    /* margin-left: 40px; */
}

.galary-images {
    text-align: center;
}

.galary-images img {
    width: 260px;
    height: 340px;
    margin: 10px;
    vertical-align: middle;
}

.sub-content {
    background-image: url('../images/Rectangle\ 9.png');
    width: 1110px;
    text-align: center;
    background-size: cover;
    padding-bottom: 80px;
}

.sub-content h3 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    padding: 100px 0 10px;
}

.sub-content p {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 25px;
}
.form input{
    width: 520px;
    height: 50px;
    background: #fff;
    color: #27272799;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding-left: 15px;
}
.button-primary, .sub-form{
    padding: 15px 30px;
    margin-left: 8px;
}